.button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6rem 1.2rem;
	font-weight: 500;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
  font-size: 1.6rem;

	&:hover:not(:disabled) {
		border-color: #646cff;
	}
}
