@import "@/mixins.scss";

.actorGroup {
	@include dFlex();
	position: relative;
	width: 50%;
	height: 100%;
	justify-content: flex-end;
  padding: 0 5%;

	&.sideRight {
    flex-direction: row-reverse;
	}
}
