.characterActor {
  position: absolute;
  height: 1rem;
  transition-property: top, left;
	transition-duration: var(--animationTime, 0);
	transition-timing-function: linear;
}

.inverse {
  transform: scaleX(-1);
}