@import "@/mixins.scss";

.actorContainer {
	--spriteSize: var(--sie, 128px);

	@include dFlex();
	position: absolute;
	width: var(--spriteSize);
	height: var(--spriteSize);
  bottom: 0;
  left: calc((100% - var(--spriteSize)) / 2.2);
	z-index: var(--containerLayer2);
}

.actor {
	@include dFlex();
	width: 100%;
	left: 100%;
  z-index: var(--containerLayer2);
}
