@import "@/mixins.scss";

.actorContainer {
	--spriteSize: var(--sie, 128px);

	@include dFlex();
	position: absolute;
	width: var(--spriteSize);
	height: var(--spriteSize);
	transition-property: top, left;
	transition-duration: var(--animationTime, 0);
	transition-timing-function: linear;
	z-index: var(--containerLayer2);
  border: 1px solid red;
}

.actor {
	@include dFlex();
	width: 100%;
	left: 100%;
}
