@import "@/mixins.scss";

.actorGrid {
	@include dFlex(row, flex-end);
	position: absolute;
	width: min(45%, 29rem);
	left: 2%;
	margin: 0 0 0;
	flex-wrap: wrap;
	gap: 5rem 30%;

	& > span {
		&:last-child {
			margin-right: 10%;
		}
	}
}

@media screen and (min-width: $desktopBreakpoint) {
	.actorGrid {
		@include dFlex(row, flex-end);
		position: absolute;
		left: 20%;
		flex-wrap: wrap;
		gap: 5rem 25%;
	}
}
