@import "@/mixins.scss";

.actorGrid {
	@include dFlex(row, flex-end);
	position: absolute;
	width: 45%;
	left: 0;
	margin: 10rem 0 0;
	flex-wrap: wrap;
	gap: 5rem 3rem;

	& > button {
		&:last-child {
			margin-right: 3rem;
		}
	}
}

@media screen and (min-width: $desktopBreakpoint) {
	.actorGrid {
		@include dFlex(row, flex-end);
		position: absolute;
		width: 20%;
		left: 20%;
		margin: 10rem 0 0;
		flex-wrap: wrap;
		gap: 5rem 35%;

		& > button {
			&:last-child {
				margin-right: 3rem;
			}
		}
	}
}
